@using EARGE.iyzico.Models;
@using EARGE.Web.Framework;
@model iyzicoDirectConfigurationModel
@{
	Layout = "";
}

<table class="plugin-intro-table">
	<tr>
		<td>
			<div class="alert alert-info">
				<button class="close" data-dismiss="alert">×</button>
				@Html.Raw(T("Plugins.Payments.iyzicoDirect.AdminInstruction"))
			</div>
		</td>
		<td>
							<img src="@Url.Content("~/Plugins/EARGE.iyzico/Content/images/logo200x53.png")" alt="iyzico" class="logo" />
		</td>
	</tr>
</table>

@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })

@using (Html.BeginForm())
{
    <table class="adminContent configure-paypal-direct">        
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.TransactMode)
            </td>
            <td class="adminData">
                @Html.SettingOverrideCheckbox(model => model.TransactMode)
                @Html.DropDownListFor(model => model.TransactMode, Model.TransactModeValues)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.UseSandbox)
            </td>
            <td class="adminData">
				@*multistore context not possible, see IPN handling*@
                @Html.EditorFor(model => model.UseSandbox)
                @Html.ValidationMessageFor(model => model.UseSandbox)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.ApiKey)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.ApiKey)
                @Html.ValidationMessageFor(model => model.ApiKey)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.SecretKey)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.SecretKey)
                @Html.ValidationMessageFor(model => model.SecretKey)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.ApiKey_TEST)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.ApiKey_TEST)
                @Html.ValidationMessageFor(model => model.ApiKey_TEST)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.SecretKey_TEST)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.SecretKey_TEST)
                @Html.ValidationMessageFor(model => model.SecretKey_TEST)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.Signature)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.Signature)
                @Html.ValidationMessageFor(model => model.Signature)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.AdditionalFee)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.AdditionalFee)
                @Html.ValidationMessageFor(model => model.AdditionalFee)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.AdditionalFeePercentage)
            </td>
            <td class="adminData">
                @Html.SettingEditorFor(model => model.AdditionalFeePercentage)
                @Html.ValidationMessageFor(model => model.AdditionalFeePercentage)
            </td>
        </tr>


        <tr>
            <td class="adminTitle">
                &nbsp;
            </td>
            <td class="adminData">
                <button type="submit" name="save" class="btn btn-primary" value="save">
                    <i class="fa fa-check"></i>&nbsp;@T("Admin.Common.Save")
                </button>
            </td>
        </tr>
    </table>
}